h1{
  text-align: center;
}

body{
  background-color: #828385;
}

z{
  font-size: 10pt;
}

.pure-g{
  left:auto;
  min-width: 1000px;
}
.page{
  width: 1000px;
  background-color: whitesmoke;
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}
.pure-u-2-3{
  /* border: 1px solid black;*/
  /* width: 200px;  */
}
.second{
  /* margin-left: 80px; */
  width: 220px;
  margin-left: 120px;
}

.vis_container{
  width: 100%;
}

.description_left{
  padding-right: 20px;
}

.description_right{
  padding-left: 20px;
}

.description{
  margin-top: 0px;
}

.pure-g{
  margin-bottom: 25px;
}

.space{
  margin-bottom: 140px
}
.space-short{
  margin-bottom: 70px;
}